:root {
    --white-color: #ffffff;
    --lightBlue-color: #00eeff;
    --lightPink-color: #ff00bf;
    --gray-color: #626262;
    --red-color: #ff0000;
    --yellow-color: #f6ff00;
    --green-color: #00ff00;
    --orange-color: #ffbf00;

    --white-color_opacity50: #ffffff85;
}