<div class="chart_container">

    <div class="title">
        <h1>Chi tiêu phát sinh tháng trước <i class="fa-solid fa-angle-right"></i></h1>
        
    </div>

    <div class="chart">
        <div class="chart__img" style="background: url(img/content/chart/chart.jpg) no-repeat center / 100% 100%;"></div>

        <div class="chart__information">
            <div class="information__left">
                <p>Tổng chi tháng này: <span>7,020,000₫</span></p>
                <p>Tổng chi tháng trước: <span>6,950,000₫</span></p>
                <p>So với tháng trước: <span>tăng 15,65%</span></p>
            </div>
            <div class="information__right">
                <p>Sinh hoạt thiết yếu (đã chi): <span>4,250,000₫</span></p>
                <p>Cá nhân (đã chi): <span>2,770,000₫</span></p>
                <p>Quỹ tài chính (cộng thêm): <span>980,000₫</span></p>
            </div>
        </div>
    </div>


</div>