<div class="setting__manager_container">

    <div class="setting__edit">Chỉnh sửa</div>

    <h1>Thông tin quản lí</h1>

    <div class="setting__manager-content">
        <div class="manager-content__left">
            <h5>Quản lí đầu vào</h5>
            <ul>
                <li>Số tiền quản lí hiện tại: 10 triệu</li>
                <li>Hình thức quản lí: Theo dõi số dư tài khoảng</li>
                <li>Ngân hàng đã liên kết: vietcombank</li>
            </ul>

            <h5>Thị trường</h5>
            <ul>
                <li>Nơi sinh hoạt: Thành Phố Long Xuyên - An Giang</li>
                <li>Mức sinh hoạt: trung bình/thấp</li>
            </ul>

            <h5>Quỹ tiết kiệm</h5>
            <ul>
                <li>Quỹ hiện tại: 2,98 triệu</li>
                <li>Tiết kiệm hằng tháng: 2 triệu</li>
                <li>Hình thức: cộng dồn số dư cuối tháng</li>
            </ul>
        </div>
        <div class="manager-content__right">
            <h5>Các khoảng cố định</h5>
            <ul>
                <li>Tiền phòng: 1 triệu</li>
                <li>Sinh hoạt: 2,5 triệu</li>
                <li>Điện &#38; nước: 0,5 triệu</li>
            </ul>

            <h5>Mua sắm &#38; Giải trí</h5>
            <ul>
                <li>Định mức: 2 triệu</li>
                <li>Phát sinh dự phòng: 1 triệu</li>
            </ul>
        </div>




    </div>

</div>