<div class="setting__manager_container">

    <div class="setting__edit">Chỉnh sửa</div>

    <h1>Mục tiêu quản lí</h1>

    <div class="setting__manager-content">
        <div class="manager-content__left">
            <h5>Mục tiêu ngắn hạn</h5>
            <ul>
                <li>Phí mua xe: 23 triệu</li>
                <li>Hình thức quản lí: Theo dõi số dư tài khoảng</li>
            </ul>
        </div>
        <div class="manager-content__right">
            <h5>Mục tiêu dài hạn</h5>
            <ul>
                <li>Quỹ tiết kiệm (tăng đều): 2 triệu/tháng</li>
                <li>Phí lấy vợ - sinh con: ~500 triệu</li>
            </ul>
        </div>




    </div>

</div>